<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" type="text/css" href="/css/main.css"></link>
        <script href="/js/server.js"></script>
		<title>Server | Manager</title>

		<style>
			.center-container {
				margin: auto;
				width: 50%;

			}
			.btn-vertical button {
				display: block;  /* vertical buttons */
			}
			.main-grid-items {
				display: grid;
				grid-template-columns: repeat(4, 100px);
			}
			.grid-container {
				display: grid;
				grid-template-columns: 200px auto 200px;
			}
		</style>

	</head>
	<body>

        <%- include("logo.ejs") %>

		<h2>Server View</h2>

		<div class="grid-container center-container">
			<div class="btn-vertical">

				<label>Products</label>
                <% for(let productDef of productDefs) { %>
                <button onclick="loadProduct(<%=productDef.id%>)" id="product_button_<%=productDef.id%>"><%=productDef.name%></button>
                <% } %>

			</div>
			<div class="main-grid-items" id="all-items">
                <% for(let item of items){ %>
                    <button selectable=true itemId=<%=item.id%> style="display:none;" id="item_button_<%=item.id%>"><%=item.name%></button>
                <% } %>

			</div>
			<div class="btn-vertical">
				<button>Finalized Order</button>
				<button>Remove Product</button>
			</div>
		</div>

		<script>

            var productDefs = <%-JSON.stringify(productDefs)%>;

            let buttons = document.querySelectorAll("[selectable=true]");
            for(let button of buttons){
                button.addEventListener("click", function(){
                    console.log(button);
                    button.classList.toggle("selected");
                });
            }

            function loadProduct(id){
                // Find the productDef
                let productDef;
                for(let def of productDefs){
                    if(def.id == id){
                        productDef = def;
                        break;
                    }
                }
                // Show the appropriate buttons
                let buttons = document.querySelectorAll("#all-items button");
                console.log(productDef.optionalitemlist);
                for(let button of buttons){
                    itemId = button.getAttribute("itemId");
                    itemId = parseInt(itemId);
                    if(productDef.optionalitemlist.includes(itemId)){
                        button.style.display = "block";
                    }
                    else{
                        button.style.display = "none";
                    }
                }
            }

			const drinkBtn = document.getElementById('drink');
			const gyro = document.getElementById('gyro')
			const bowl = document.getElementById('bowl')
			const twoFalefs = document.getElementById('twoFalalefs')
			const mainItemPanel = document.getElementById('all-items')
			const hummus = document.getElementById('hummus')
			const hummusItem = document.getElementById('hummusItem')
			const dressing = document.getElementById('dressing')
			const spicyHummusItem = document.getElementById('spicyHummusItem')
			const extraProtein = document.getElementById("extraProtein")

			const butterChick = document.getElementById("butterChick")
			const lemonChick = document.getElementById("lemonChick")
			const meat = document.getElementById("meat")
			const falalef = document.getElementById("falalef")

			const jalepenoDress = document.getElementById("jalepenoDress")
			const vinagretteDress = document.getElementById("vinagretteDress")
			const tahiniDress = document.getElementById("tahiniDress")
			const yogurtDress = document.getElementById("yogurtDress")
			const tzatzikiDress = document.getElementById("tzatzikiDress")
			const harissaDress = document.getElementById("harissaDress")

			let gryoCounter = 0;

			const setProteinDisplay = (visi) => {
				butterChick.style.visibility=visi;
				lemonChick.style.visibility=visi;
				meat.style.visibility=visi;
				falalef.style.visibility=visi;
			}

			const setDressDisplay = (visi) => {
				jalepenoDress.style.visibility = visi;
				vinagretteDress.style.visibility = visi;
				tahiniDress.style.visibility = visi;
				yogurtDress.style.visibility = visi;
				tzatzikiDress.style.visibility = visi;
				harissaDress.style.visibility = visi;
			}

			const setHummusDisplay = (visi) => {
				hummusItem.style.visibility=visi;
				spicyHummusItem.style.visibility=visi;
			}

			drinkBtn.addEventListener('click', () => {
				mainItemPanel.style.visibility = 'hidden';
				setHummusDisplay('hidden');
				setProteinDisplay("hidden");
				setDressDisplay("hidden");
			})

			gyro.addEventListener('click', () => {
				mainItemPanel.style.visibility = 'visible';
				setHummusDisplay('visible');
				setProteinDisplay("visible");
				setDressDisplay("visible");
				gryoCounter++;
				console.log(gryoCounter);
			})

			bowl.addEventListener('click', () => {
				mainItemPanel.style.visibility = 'visible';
				setHummusDisplay("visible")
				setProteinDisplay("visible");
				setDressDisplay("visible");
			})

			twoFalefs.addEventListener('click', () => {
				mainItemPanel.style.visibility = 'hidden';
				setHummusDisplay("hidden")
				setProteinDisplay("hidden");
				setDressDisplay("hidden");
			})

			hummus.addEventListener('click', () => {
				setDressDisplay("hidden");
				mainItemPanel.style.visibility = 'hidden';
				setHummusDisplay("visible")
				setProteinDisplay("hidden");
			})

			dressing.addEventListener('click', () => {
				mainItemPanel.style.visibility = 'hidden';
				setHummusDisplay("visible")
				setProteinDisplay("hidden");
				setDressDisplay("visible");
			})

			extraProtein.addEventListener('click', () => {
				mainItemPanel.style.visibility = 'hidden';
				setHummusDisplay("hidden");
				setProteinDisplay("visible");
				setDressDisplay("hidden");
			})



		</script>
	</body>
</html>
