<!DOCTYPE html>
<html>
<head>
    <%- include("head") %>
    <title>Orders | Manager</title>
</head>
<body>
    <%- include("header") %>
    <h2>Orders</h2>
                <button onclick="refresh();">test</button>
    <table>
    <% for(let order of orders) { %>
        <tr>
            <td>
                <p>
                    <%=order.id%>
                </p>
            </td>
            <td>
                <p>
                    $<%=order.total.toLocaleString()%>
                </p>
            </td>
            <td>
                <p>
                    <%=order.date%>
                </p>
            </td>
        </tr>
    <% } %>
    </table>
    <%- include("scripts") %>

    <script src="/js/server.js"></script>
    <script>
        function refresh(){
            server.GET("/manager/dateorders", {low: "2022-9-1", high: "2022-9-3"}, function(response){
                
            },
            function(error){
                alert(error)
            });
        }
    </script>
</body>
</html>
