<!DOCTYPE html>
<html>
<head>
    <%- include("head") %>
    <title>Orders | Manager</title>
</head>
<body>
    <script>
        function hideOrder(orders){
            var lowDate = new Date('9/2/2022');
            var highDate = new Date('9/3/2022');
            for(let order of orders){
                var id = order.id;
                var curdate = order.date.toLocaleDateString();
                if(curdate > highDate || curdate<lowDate){
                    document.getElementById(id).style.display = 'none';
                }
            }
        }
    </script>
    <%- include("header") %>
    <h2>Orders</h2>
    <% var com = "hideOrder(" + orders+")";%>
    <button onclick=com>test</button>
    <table>
    <% for(let order of orders) { %>
        <tr id = <%=order.id%>>
            <td>
                <p>
                    <%=order.id%>
                </p>
            </td>
            <td>
                <p>
                    $<%=order.total.toLocaleString()%>
                </p>
            </td>
            <td>
                <p>
                    <%=order.date.toLocaleDateString()%>
                </p>
            </td>
        </tr>
    <% } %>
    </table>
</body>
</html>