<!DOCTYPE html>
<html>
<head>
    <%- include("head") %>
    <title>Orders | Manager</title>
</head>

<script>
    function dateWindow() 
    {
    var low= document.getElementById("lowDate").value;
    var high = document.getElementById("highDate").value;
    window.location = 'orders?s='+low+'&e='+high;
    return false;
    }
    </script>
    
<body>
    <div class="center-content">
        <%- include("header") %>
        <h2>Orders</h2>
        <form>
            Low date: <input type="text" id="lowDate"/>
            High date: <input type="text" id="highDate"/>
            <input type="submit" value="Change dates" onclick="return dateWindow()"/>
        </form>

        <table>
            <% for(let order of orders) { %>
            <tr id = <%=order.id%>>
                <td>
                    <p>
                        <%=order.id%>
                    </p>
                </td>
                <td>
                    <p>
                        $<%=order.total.toLocaleString()%>
                    </p>
                </td>
                <td>
                    <p>
                        <%=order.date.toLocaleDateString()%>
                    </p>
                </td>
            </tr>
            <% } %>
        </table>
    </div>
</body>
</html>