<!DOCTYPE html>
<html>
	<head>
		<%- include("head") %>
		<title>Server | Manager</title>

		<style>
			.center-container {
				margin: auto;
				width: 50%;

			}
			.btn-vertical button {
				display: block;  /* vertical buttons */
			}
			.main-grid-items {
				display: grid;
				grid-template-columns: repeat(4, 100px);
			}
			.grid-container {
				display: grid;
				grid-template-columns: 200px auto 200px;
			}
		</style>

	</head>
	<body>


		<%- include("header") %>
		<h2>Server View</h2>

		<div class="grid-container center-container">
			<div class="btn-vertical">

				<label>Products</label>
                <% for(let productDef of productDefs) { %>
                <button onclick="loadProduct(<%=productDef.id%>)" id="product_button_<%=productDef.id%>"><%=productDef.name%></button>
                <% } %>

			</div>
			<div class="main-grid-items" id="all-items">
                <% for(let item of items){ %>
                    <button selectable=true itemId=<%=item.id%> style="display:none;" id="item_button_<%=item.id%>"><%=item.name%></button>
                <% } %>

			</div>
			<div class="btn-vertical">
				<button>Finalized Order</button>
				<button>Remove Product</button>
			</div>
		</div>

		<%- include("scripts") %>
		<script>

            var productDefs = <%-JSON.stringify(productDefs)%>;

            let buttons = document.querySelectorAll("[selectable=true]");
            for(let button of buttons){
                button.addEventListener("click", function(){
                    console.log(button);
                    button.classList.toggle("selected");
                });
            }

            function loadProduct(id){
                // Find the productDef
                let productDef;
                for(let def of productDefs){
                    if(def.id == id){
                        productDef = def;
                        break;
                    }
                }
                // Show the appropriate buttons
                let buttons = document.querySelectorAll("#all-items button");
                console.log(productDef.optionalitemlist);
                for(let button of buttons){
                    itemId = button.getAttribute("itemId");
                    itemId = parseInt(itemId);
                    if(productDef.optionalitemlist.includes(itemId)){
                        button.style.display = "block";
                    }
                    else{
                        button.style.display = "none";
                    }
                }
            }


		</script>
	</body>
</html>
